@charset "UTF-8";
.main._md.md-primoExplore-theme.layout-align-center-start.layout-row.flex {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap; }

/*Aktiver denne hvis fasettene er på høyre side og du ønsker dem på venstre side*/
/*
.main._md.md-primoExplore-theme.layout-align-center-start.layout-row.flex.padded-container {
display: -webkit-flex; !* Safari *!
-webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
display: flex;
flex-flow: row-reverse wrap;
}
*/
/*Aktiver denne hvis fasettene er på venstre side og du ønsker dem på høyre side*/
/*
.main._md.md-primoExplore-theme.layout-align-center-start.layout-row.flex.padded-container {
display: -webkit-flex; !* Safari *!
-webkit-flex-flow: row-reverse wrap; !* Safari 6.1+ *!
display: flex;
flex-flow: row wrap;
}
*/
/* top menu colour*/
.prm-primary-bg.prm-hue1, prm-spinner.prm-hue1.overlay-cover.light-on-dark::after, prm-topbar .top-nav-bar, prm-search-bar.prm-hue1 {
  background-color: black; }

/*hover over top menu colour */
md-fab-toolbar md-toolbar {
  background-color: #666 !important; }

/* search box area colour*/
.prm-primary-bg, prm-spinner.overlay-cover.light-on-dark::after, prm-search-bar {
  background-color: #2c2c2c; }

/* Advanced search button hover colour*/
.md-button:hover:not([disabled]), .md-button:focus:not([disabled]), .md-button.hovered:not([disabled]), .md-button.md-focused:not([disabled]), .md-button._md-focused:not([disabled]) {
  background-color: rgba(204, 204, 204, 0.1);
  /*background-color: #636363;*/ }

/* Logo background colour*/
.md-button.arrow-link-button .button-content:focus, .md-button.arrow-link-button .button-content:hover, .md-button.arrow-link-button .hover.button-content, .prm-links-background.prm-hue-1, .recommendations-title.hover > span > span, .recommendations-title:hover > span > span, a.hover, a:focus, a:hover {
  background: transparent; }

.md-button.arrow-link-button .button-content:focus, .md-button.arrow-link-button .button-content:hover, .md-button.arrow-link-button .hover.button-content, .recommendations-title.hover > span > span, .recommendations-title:hover > span > span, a.hover, a:focus, a:hover {
  box-shadow: inset 0 -1px 0 0 transparent; }

/*menu hover colour*/
._md-focused.md-button.button-over-dark:not([disabled]), .hoverable-over-dark._md-focused:not([disabled]), .hoverable-over-dark.hovered:not([disabled]), .hoverable-over-dark.md-focused:not([disabled]), .hoverable-over-dark:focus:not([disabled]), .hoverable-over-dark:hover:not([disabled]), .hovered.md-button.button-over-dark:not([disabled]), .md-button.button-over-dark:focus:not([disabled]), .md-button.button-over-dark:hover:not([disabled]), .md-focused.md-button.button-over-dark:not([disabled]), prm-main-menu[menu-type=full] ._md-focused.md-button.md-focused:not([disabled]), prm-main-menu[menu-type=full] ._md-focused.md-button:not([disabled]):focus, prm-main-menu[menu-type=full] ._md-focused.md-button:not([disabled]):hover, prm-main-menu[menu-type=full] ._md-focused.overlay-menu-item.md-focused:not([disabled]), prm-main-menu[menu-type=full] ._md-focused.overlay-menu-item:not([disabled]):focus, prm-main-menu[menu-type=full] ._md-focused.overlay-menu-item:not([disabled]):hover, prm-main-menu[menu-type=full] .hovered.md-button.md-focused:not([disabled]), prm-main-menu[menu-type=full] .hovered.md-button:not([disabled]):focus, prm-main-menu[menu-type=full] .hovered.md-button:not([disabled]):hover, prm-main-menu[menu-type=full] .hovered.overlay-menu-item.md-focused:not([disabled]), prm-main-menu[menu-type=full] .hovered.overlay-menu-item:not([disabled]):focus, prm-main-menu[menu-type=full] .hovered.overlay-menu-item:not([disabled]):hover, prm-main-menu[menu-type=full] .md-button .md-input-container-dummy > ._md-focused.md-select-dummy:not([disabled]):focus, prm-main-menu[menu-type=full] .md-button .md-input-container-dummy > .hovered.md-select-dummy:not([disabled]):focus, prm-main-menu[menu-type=full] .md-button .md-input-container-dummy > .md-focused.md-select-dummy:not([disabled]):focus, prm-main-menu[menu-type=full] .md-button .md-input-container-dummy > .md-select-dummy:focus:not([disabled]), prm-main-menu[menu-type=full] .md-button .md-input-container-dummy > .md-select-dummy:hover:not([disabled]):focus, prm-main-menu[menu-type=full] .md-button:focus:not([disabled]), prm-main-menu[menu-type=full] .md-button:hover:not([disabled]), prm-main-menu[menu-type=full] .md-button md-select._md-focused:not([disabled]):focus, prm-main-menu[menu-type=full] .md-button md-select.hovered:not([disabled]):focus, prm-main-menu[menu-type=full] .md-button md-select.md-focused:not([disabled]):focus, prm-main-menu[menu-type=full] .md-button md-select:focus:not([disabled]), prm-main-menu[menu-type=full] .md-button md-select:hover:not([disabled]):focus, prm-main-menu[menu-type=full] .md-focused.md-button:not([disabled]), prm-main-menu[menu-type=full] .md-focused.overlay-menu-item:not([disabled]), prm-main-menu[menu-type=full] .overlay-menu-item .md-input-container-dummy > ._md-focused.md-select-dummy:not([disabled]):focus, prm-main-menu[menu-type=full] .overlay-menu-item .md-input-container-dummy > .hovered.md-select-dummy:not([disabled]):focus, prm-main-menu[menu-type=full] .overlay-menu-item .md-input-container-dummy > .md-focused.md-select-dummy:not([disabled]):focus, prm-main-menu[menu-type=full] .overlay-menu-item .md-input-container-dummy > .md-select-dummy:focus:not([disabled]), prm-main-menu[menu-type=full] .overlay-menu-item .md-input-container-dummy > .md-select-dummy:hover:not([disabled]):focus, prm-main-menu[menu-type=full] .overlay-menu-item:focus:not([disabled]), prm-main-menu[menu-type=full] .overlay-menu-item:hover:not([disabled]), prm-main-menu[menu-type=full] .overlay-menu-item md-select._md-focused:not([disabled]):focus, prm-main-menu[menu-type=full] .overlay-menu-item md-select.hovered:not([disabled]):focus, prm-main-menu[menu-type=full] .overlay-menu-item md-select.md-focused:not([disabled]):focus, prm-main-menu[menu-type=full] .overlay-menu-item md-select:focus:not([disabled]), prm-main-menu[menu-type=full] .overlay-menu-item md-select:hover:not([disabled]):focus, prm-main-menu[menu-type=full] md-card._md-focused:not([disabled]):focus, prm-main-menu[menu-type=full] md-card._md-focused:not([disabled]):hover, prm-main-menu[menu-type=full] md-card.hovered:not([disabled]):focus, prm-main-menu[menu-type=full] md-card.hovered:not([disabled]):hover, prm-main-menu[menu-type=full] md-card.md-focused:not([disabled]):focus, prm-main-menu[menu-type=full] md-card.md-focused:not([disabled]):hover, prm-main-menu[menu-type=full] md-card:focus:not([disabled]), prm-main-menu[menu-type=full] md-card:hover:not([disabled]), prm-topbar ._md-focused.md-button:not([disabled]), prm-topbar .hovered.md-button:not([disabled]), prm-topbar .md-button:focus:not([disabled]), prm-topbar .md-button:hover:not([disabled]), prm-topbar .md-focused.md-button:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item ._md-focused.md-button:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item .hovered.md-button:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item .md-button:focus:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item .md-button:hover:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item .md-focused.md-button:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container._md-focused:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container.hovered:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container.md-focused:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container:focus:not([disabled]), prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container:hover:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item ._md-focused.md-button:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item .hovered.md-button:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item .md-button:focus:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item .md-button:hover:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item .md-focused.md-button:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item md-input-container._md-focused:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.hovered:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item md-input-container.md-focused:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:focus:not([disabled]), prm-user-area md-fab-toolbar .md-fab-action-item md-input-container:hover:not([disabled]) {
  background-color: #636363; }

/* top menu link colour*/
a, .md-button.arrow-link-button .button-content {
  color: #2771bb; }

/* Search box area text colour*/
.hoverable-over-dark, prm-main-menu[menu-type="full"] .md-button:hover, prm-main-menu[menu-type="full"] .md-button:focus, prm-main-menu[menu-type="full"] .md-button.md-focused, prm-main-menu[menu-type="full"] .md-button md-select:focus, prm-main-menu[menu-type="full"] .md-button .md-input-container-dummy > .md-select-dummy:focus, prm-main-menu[menu-type="full"] .overlay-menu-item:hover, prm-main-menu[menu-type="full"] .overlay-menu-item:focus, prm-main-menu[menu-type="full"] .overlay-menu-item.md-focused, prm-main-menu[menu-type="full"] .overlay-menu-item md-select:focus, prm-main-menu[menu-type="full"] .overlay-menu-item .md-input-container-dummy > .md-select-dummy:focus, prm-main-menu[menu-type="full"] md-card:hover, prm-main-menu[menu-type="full"] md-card:focus, prm-user-area md-fab-toolbar .md-fab-action-item .md-button, prm-user-area md-fab-toolbar ._md-fab-action-item .md-button, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container, .md-button.button-over-dark, prm-user-area .md-button.user-menu-button, prm-topbar .md-button {
  color: #aaabab; }

/* top menu font size*/
prm-main-menu[menu-type="menu"] .md-button {
  font-size: .95em;
  text-transform: none; }

/* top menu link small letters
prm-topbar .md-button
{
text-transform: none;
}*/
/* top menu link underline
.md-button:hover
{
text-decoration:underline
}
*/
/* top menu link underline*/
.item-content:hover {
  text-decoration: underline; }

/* top menu box hover colour
.zero-margin.flex-button.multi-line-button.button-over-dark.md-button.md-primoExplore-theme.md-ink-ripple.layout-align-center-center.layout-column:hover
{
background:red;
}
*/
/* top menu login box hover colour
.md-fab-action-item:hover
{
background:red;
}
*/
/*body colour*/
.prm-background, html, body, prm-search-bar .simple-search-wrapper .search-options::after, prm-search-bar .simple-search-wrapper .search-options md-divider, .__xs prm-facet, .__sm prm-facet, .__sm .sidebar, .__xs .sidebar, prm-full-view-cont prm-recomendation-item .media-on-hover .pin-button, prm-full-view-cont .recommendations-title::after, prm-full-view-cont .recommendations-title prm-icon, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider, md-card .card-content-block {
  background-color: #e2e3e5; }

/*homepage box colours*/
.prm-background.prm-hue2, html.prm-hue2, body.prm-hue2, .line-clamp-1::after, .line-clamp-2::after, .line-clamp-3::after, .line-clamp-4::after, .line-clamp-5::after, prm-search-result-list .results-title, prm-search-result-list .results-footer, prm-search-result-list md-list-item, prm-search-bar .simple-search-wrapper .prm-hue2.search-options::after, prm-search-bar .simple-search-wrapper .search-options md-divider.prm-hue2, .prm-full-view-dialog, .full-view-inner-container, .__xs prm-facet.prm-hue2, .__sm prm-facet.prm-hue2, .__sm .prm-hue2.sidebar, .__xs .prm-hue2.sidebar, .__xs prm-full-view-cont .recommendations-wrapper, .__sm prm-full-view-cont .recommendations-wrapper, prm-recomendation-item .media-on-hover .pin-button, prm-recomendation-item .media-on-hover .pin-button:hover, prm-full-view-cont prm-recomendation-item .media-on-hover .prm-hue2.pin-button, .recommendations-title::after, prm-full-view-cont .prm-hue2.recommendations-title::after, .__xs prm-full-view-cont .recommendations-title::after, .__sm prm-full-view-cont .recommendations-title::after, .recommendations-title prm-icon, prm-full-view-cont .recommendations-title prm-icon.prm-hue2, .__xs prm-full-view-cont .recommendations-title prm-icon, .__sm prm-full-view-cont .recommendations-title prm-icon, md-virtual-repeat-container#prm-simple-search .md-autocomplete-suggestions md-divider.prm-hue2, md-grid-tile, .tiles-grid-tile, md-grid-tile md-list prm-spinner.overlay-cover::after, md-grid-tile .tile-content prm-spinner.overlay-cover::after, .tiles-grid-tile md-list prm-spinner.overlay-cover::after, .tiles-grid-tile .tile-content prm-spinner.overlay-cover::after, md-card.default-card, md-card .prm-hue2.card-content-block {
  background-color: #f5f7f8; }

/* homepage boxes title-heading*/
.md-headline {
  font-weight: 400 !important; }

/* Login mouseover menu colour. Feil siden beskjed bokse tekst fargen også får hvit farge
.button-with-icon.zero-margin.md-button.md-primoExplore-theme.md-ink-ripple > span
{
color:white;
}*/
/* Beskjed boks tekst farge*/
.bar prm-authentication .md-button {
  color: #0075b0; }

/* Avansert tekst farge*/
prm-search-bar .search-switch-buttons .md-button.switch-to-advanced {
  color: white; }

/*Tekst farge logg på boksen*/
prm-user-area md-fab-toolbar .md-fab-action-item .md-button {
  color: white; }

/*Langauge text size*/
prm-user-area .user-menu-button .user-language {
  font-weight: 0;
  color: white; }

/*Langauge text size*/
.text-uppercase, prm-user-area .md-button.button-as-link, prm-user-area .bar prm-authentication .md-button, .bar prm-authentication prm-user-area .md-button {
  text-transform: none; }

/*Language text colour after hover*/
prm-user-area md-fab-toolbar .md-fab-action-item md-input-container md-select, prm-user-area md-fab-toolbar .md-fab-action-item md-input-container .md-input-container-dummy > .md-select-dummy, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container md-select, prm-user-area md-fab-toolbar ._md-fab-action-item md-input-container .md-input-container-dummy > .md-select-dummy {
  color: white; }

prm-search-result-list .results-title {
  font-weight: 600; }

/*
prm-logo div.product-logo {
display:none;
}

prm-logo div.product-logo-local {
display: flex;
}
*/
/*
.layout-align-center-center > *, .layout-align-end-center > *, .layout-align-space-around-center > *, .layout-align-space-between-center > *, .layout-align-start-center > *
{
max-width: none;
}*/
/* Skjule scopene fulltekst, DUO og alle bibliotek*/
md-option[value="fulltext"] {
  display: none; }

md-option[value="local_collection"] {
  display: none; }

/* Skjule scopene fulltekst, DUO og alle bibliotek på startsiden*/
.md-autocomplete-suggestions li:nth-child(4) {
  display: none; }

.md-autocomplete-suggestions li:last-child {
  display: none; }

/*

prm-main-menu[menu-type="menu"] .md-button
{
width: 8em;
}*/
.flex-100, .layout-column > .flex-100, .layout-row > .flex-100 {
  width: 43em; }

/* Call the clickable logo */
prm-logo div.product-logo {
  display: none; }

prm-logo div.product-logo-local {
  display: -ms-flexbox;
  display: flex; }

prm-logo .logo-image, prm-logo img {
  max-height: 35px; }

/* Skjule "finner ikke" menu*/
/*.zero-margin.flex-button.multi-line-button.button-over-dark.md-button.md-primoExplore-theme.md-ink-ripple.layout-align-center-center.layout-column:nth-child(5)
{
display:none;
}*/
/* Skjule "finner ikke" menu*/
/*.zero-margin.flex-button.multi-line-button.button-over-dark.md-button.md-primoExplore-theme.md-ink-ripple.layout-align-center-center.layout-column:nth-child(5)
{
display:none;
}*/
/* Skjule "finner ikke" menu*/
/*.zero-margin.flex-button.multi-line-button.button-over-dark.md-button.md-primoExplore-theme.md-ink-ripple.layout-align-center-center.layout-column:nth-child(5)
{
display:none;
}*/
/******************************************************************************
 BEGIN Footer
 *****************************************************************************/
@media (min-width: 600px) {
  .uio-footer-spacing {
    height: 150px; } }

.uio-footer {
  background-color: #1B1B1B;
  color: #C9C9C9;
  width: 100%;
  display: none; }
  .uio-footer.visible {
    display: block; }
  @media (max-width: 599px) {
    .uio-footer {
      bottom: 0;
      position: fixed; }
      .uio-footer .md-headline {
        font-size: 18px; } }
  .uio-footer .uio-footer-main {
    display: -ms-flexbox;
    display: flex;
    padding: 16px 24px; }
  @media (min-width: 600px) {
    .uio-footer .uio-mobile {
      display: none; } }
  .uio-footer .uio-footer-column {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 0 1em; }
    @media (max-width: 599px) {
      .uio-footer .uio-footer-column {
        display: none; } }
  .uio-footer .uio-title {
    color: #FFFFFF;
    font-size: 16px; }
  .uio-footer .uio-logo {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: block;
    padding: 0;
    margin-right: 1em; }
    .uio-footer .uio-logo img {
      display: block;
      margin: 0;
      padding: 0; }
      @media (max-width: 599px) {
        .uio-footer .uio-logo img {
          width: 50px;
          height: 50px; } }
      @media (min-width: 600px) {
        .uio-footer .uio-logo img {
          width: 102px;
          height: 102px; } }
  .uio-footer .line {
    display: block; }
  .uio-footer a {
    color: #FFFFFF; }
    .uio-footer a:hover {
      color: #EEEEEE;
      text-decoration: underline; }

/******************************************************************************
 END Footer
 *****************************************************************************/
