
/******************************************************************************
 BEGIN Footer
 *****************************************************************************/

@import 'breakpoint.scss';

.uio-footer-spacing {
	@include breakpoint(gt-xs) {
		height: 20vh;
	}
}

.uio-footer {
	background-color: #1B1B1B;
	color: #C9C9C9;
	width: 100%;

	display: none;
	&.visible {
		display: block;
	}

	@include breakpoint(xs) {
		.md-headline {
			font-size: 18px;
		}
	}

	.uio-footer-main {
		display: flex;
		padding: 16px 24px;
	}

	.uio-footer-column {
		flex: 0 0 auto;
		padding: 0 1em;
		@include breakpoint(xs) {
			display: none;
		}
		&.uio-mobile {
			@include breakpoint(xs) {
				display: block;
			}
			@include breakpoint(gt-xs) {
				display: none;
			}
		}
	}
	.uio-title {
		color: #FFFFFF;
		font-size: 16px;
	}
	.uio-logo {
		flex: 0 0 auto;
		display: block;
		padding: 0;
		margin-right: 1em;
		img {
			display: block;
			margin: 0;
			padding: 0;

			@include breakpoint(xs) {
				width: 50px;
				height: 50px;
			}
			@include breakpoint(gt-xs) {
				width: 102px;
				height: 102px;
			}

		}
	}
	.line {
		display: block;
	}
	a {
		color: #FFFFFF;
		text-decoration: underline;

		&:hover {
			color: #EEEEEE;
		}
	}
}

/******************************************************************************
 END Footer
 *****************************************************************************/
